+nav("MOBSS", "dropdown_menu")
    +nav_item("/") Home
    +nav_item_dropdown("#")(label="Report An Incident")
        +nav_item("/incidentlist") View All Incidents
        +nav_item("/incident") New Incident
    +nav_item_dropdown("#")(label="Make a Suggestion")
        +nav_item("/suggestionlist") View Suggestions
        +nav_item("/suggestion") New Suggestion
    +nav_item_dropdown("#")(label="Get Support")
        +nav_item("/appointmentlist") View Scheduled Calls
        +nav_item("/appointment") Schedule a Call
        +nav_item("/") Frequently Asked Questions  
    +nav_item_dropdown("#")(label="Settings")
        +nav_item("/") View/Edit Profile
    +nav_item("/logout") Logout